.button {
    -fx-background-radius: 0px 15px 15px 0px ;
}
.textfield{
    -fx-background-radius: 10px;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}
.shadownew{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),0,10.0,10.0,0.0);
}



